*{
    margin: 0;
}

body{
    background-color: wheat;
    height: 100vh;
    display: grid;
    place-items: center;
}

/* Container */
main{
    height: 145px;
    width: 238px;
}

/* Landing page */
article{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    align-items: center;
}

/* Scrollable portfolio details */
article:nth-child(2){
    display: none;
}

/* Profile picture */
article>img{
    border-radius: 100%;
    height: 5rem;
}

/* Social media container */
section{
    grid-column-end: span 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Social media buttons */
section>a{
    height: 30px;
    width: 60px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

/* LinkedIn button */
section>a:nth-child(1){
    background-color: #017ab4;
}

/* Github button */
section>a:nth-child(2){
    background-color: white;
}

/* Instagram button */
section>a:nth-child(3){
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

h1{
    justify-self: start;
}