*{
    margin: 0;
}

main{
    background-color: wheat;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
    /* justify-items: center;
    align-items: center; */
}

section{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

section:nth-child(2){
    display: none;
}

section>img{
    border-radius: 100%;
    max-width: 33vw;
}

article{
    grid-column-end: span 2;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5rem;
}

/* social media knoppen */
article>a{
    height: 30px;
    width: 60px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}

article>a:nth-child(1){
    background-color: #017ab4;
}

article>a:nth-child(2){
    background-color: white;
}

article>a:nth-child(3){
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);

}