main:nth-child(2){
    height: 100vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1rem auto;
    background-color: red;
}

main:nth-child(2)>article:nth-child(1){
    background-color: green;
    display: grid;
    grid-template-rows: 26.6vh;
}

main:nth-child(2)>article:nth-child(1)>section:nth-child(1){
    background-color: purple;
}

main:nth-child(2)>article:nth-child(1)>section:nth-child(2){
    background-color: orange;
}

main:nth-child(2)>article:nth-child(2){
    background-color: yellow;
}

main:nth-child(2)>article:nth-child(2)>section{
    background-color: pink;
    height: 33vh;
    margin: 10vh 0;
    display: grid;
    grid-template-columns: auto 33vh;
    grid-template-rows: 50% 50%;
}

main:nth-child(2)>article:nth-child(2)>section>p{
    text-align: center;
}

main:nth-child(2)>article:nth-child(2)>section>p:nth-child(1){
    align-self: end;
}

main:nth-child(2)>article:nth-child(2)>section>p:nth-child(3){
    border-top: 1px solid black;
    align-self: start;
}

main:nth-child(2)>article:nth-child(2)>section>img{
    grid-column-start: 2;
    grid-row-end: span 2;
    height: 100%;
}

